.primaryText{
	color: #1372D8;
}
.FTitle{
	font-size: 1.5em;
	line-height: 2em;
	color: #1166BB;
}
.subTitle{
	color: orange;
	font-size: 1.2em;
	line-height: 1.7em;
}
.demo{
	color: #98C7F5;
}
.grammar{

}
.notes{
	color: #AE090C;
}